<div class="container">
  <div class="leftBar">
    <div class="info">
      <img class="img" src="https://lh3.googleusercontent.com/proxy/3uvg9rKIa3kQEvIEHLfRWI2oAE9lcYI2YJj_8QMv8znShtwf2bjApcUNHsKMVytt2W3eSKbDqZg2XLfotntPIMCxnkBNgzT9xeH1MJA3xaf60TvMoMQHf3FOi9DdM-a-vAY" alt="">
      <p class="className">Son Lonely</p>
      <p class="user">sonndhgch16367@fpt.edu.vn</p>
    </div>
    <button mat-raised-button class="button-custom">Dashboard</button>
    <div class="border-top">
      <button mat-raised-button class="class">
        <p class="className">Class: Enterprise</p>
        <p class="user tutor">Tutor: Lai Manh Dung</p>
        <p class="user student">Student: Son Lonely</p>
      </button>
      <button mat-raised-button class="class">
        <p class="className">Class: Enterprise</p>
        <p class="user tutor">Tutor: Lai Manh Dung</p>
        <p class="user student">Student: Son Lonely</p>
      </button>
      <button mat-raised-button class="class">
        <p class="className">Class: Enterprise</p>
        <p class="user tutor">Tutor: Lai Manh Dung</p>
        <p class="user student">Student: Son Lonely</p>
      </button>
    </div>
  </div>
  <div class="middle">
    <div class="title">
      <p class="className">Class: Enterprise</p>
      <p class="user">Tutor: Lai Manh Dung</p>
      <p class="user">Student: Son do it Alone</p>
    </div>
    <div class="message-box">
      <div class="message">
        <p class="message-user">Son do it Alone:</p>
        <p class="message-custom">Hello</p>
      </div>
      <div class="message">
        <p class="message-user">Lai Manh Dung:</p>
        <p class="message-custom">Hello</p>
      </div>
    </div>
    <input class="chat">
  </div>
  <div class="rightBar">
    <h4>more</h4>
    <div class="more">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Meeting
            </mat-panel-title>
            <mat-panel-description>
              Control meeting
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button mat-raised-button color="accent">Create</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Setting
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
