<div class="divider-bar"></div>

<div class="flex flex-d-col left-section">
  <mat-list class="list-nav">
    <div class="pb0-i"
         mat-subheader>
      Tutor
    </div>
    <mat-list-item class="cursor-pointer side-link"
                   mat-list-item>
      <img [alt]="classroom.tutor.name"
           [src]="classroom.tutor.avatar"
           class="obj-pos-center obj-fit-cover"
           mat-list-icon>
      <div mat-line>
        {{classroom.tutor.name}}
      </div>
      <small class="text-muted"
             mat-line>
        {{classroom.tutor.username}}
      </small>
      <small class="text-muted"
             mat-line>
        last active {{classroom.tutor.activeAt | momentRelativePipe}}
      </small>
    </mat-list-item>

    <div class="pb0-i"
         mat-subheader>
      Student
    </div>
    <mat-list-item class="cursor-pointer side-link"
                   mat-list-item>
      <img [alt]="classroom.student.name"
           [src]="classroom.student.avatar"
           class="obj-pos-center obj-fit-cover"
           mat-list-icon>
      <div mat-line>
        {{classroom.student.name}}
      </div>
      <small class="text-muted"
             mat-line>
        {{classroom.student.username}}
      </small>
      <small class="text-muted"
             mat-line>
        last active {{classroom.student.activeAt | momentRelativePipe}}
      </small>
    </mat-list-item>
  </mat-list>
</div>

<div class="flex flex-d-col right-section">
  <p class="fw-bold">Started on:
    <span class="fw-normal">
      {{classroom.createdAt | date: 'dd/MM/yyyy - hh:mm:ss'}}
    </span>
  </p>

  <button (click)="popupEdit(classroom)"
          color="primary"
          mat-flat-button>
    Edit
  </button>
  <hr>
  <button (click)="popupSchedule()"
          color="primary"
          mat-flat-button>
    View this class schedule
  </button>
  <br>
  <button (click)="popupResource()"
          color="primary"
          mat-flat-button>
    View this class uploaded files
  </button>
  <br>
  <button color="primary"
          mat-flat-button>
    View this class Statistics
  </button>

</div>
