.container{
  width: 100vw;
  height: 100vh;
  background: url("https://vistapointe.net/images/university-of-greenwich-2.jpg");
  background-size: cover;
}

.login-page {
  width: 450px;
  padding: 10% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.30);
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row{
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 1rem;
}
.col-1{
  grid-column: 1/2;
  margin: auto;
  font-size: 2rem;
}
.col-2{
  grid-column: 2/3;
}

.input-custom {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.btn-custom {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 1rem;
  color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 1rem;

  &:hover, &:active, &:focus{
    background: #43A047;
  }
}

.white{
  color: white;
}
