<div class="container">
  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <div class="row">
          <span class="material-icons white col-1">person</span>
          <input class="input-custom col-2" placeholder="username" type="text"/>
        </div>
        <div class="row">
          <span class="material-icons white col-1">lock</span>
          <input class="input-custom col-2" placeholder="password" type="password"/>
        </div>
        <button class="btn-custom" (click)="login()">login</button>
      </form>
    </div>
  </div>
</div>
