<div class="p1 bg-white top-bar">
  <h2 class="text-info tt-capitalize overflow-hidden text-overflow-ellipsis whitespace-nowrap class-title">
    Software development
  </h2>
  <small class="text-muted class-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, earum error explicabo fugit minima odio quae qui sed
    tempore voluptas!
  </small>
</div>

<app-class-meta class="bg-white right-bar mat-elevation-z5">
</app-class-meta>

<div class="router-section">
  <router-outlet></router-outlet>
</div>
