<label class="ph1 m0 search-form">
  <input class="form-control"
         placeholder="Find schedule name..."
         type="text">
</label>

<div class="ph1 flex flex-d-col justify-flex-start schedules-list">

  <app-schedule-panel *ngFor="let schedule of (schedules | async)"
                      [schedule]="schedule"></app-schedule-panel>
  <small *ngIf="(schedules|async).length === 0 && !(schedulesLoading|async)"
         class="text-muted ta-center">
    No schedule found
  </small>
  <small *ngIf="schedulesLoading|async"
         class="text-muted ta-center">
    Loading...
  </small>
</div>
