<div [matTooltip]="'Dockumental Docker Mastering'"
     class="content cursor-pointer user-select-none grid place-item-center">
  <i class="text-muted fa fa-file-word fa-2x"></i>

  <div class="file-info">
    <div class="fw-bold overflow-hidden text-overflow-ellipsis whitespace-nowrap file-name">
      Dockumental Docker Mastering
    </div>
    <small class="text-muted file-size">
      12MB
    </small>
  </div>
</div>

<div (click)="notifyDelete()"
     *ngIf="isAbleDelete"
     class="absolute top0 right0 br50 none place-item-center text-danger bg-white delete-indicator mat-elevation-z2 cursor-pointer"
     matRipple>
  <i class="fa fa-times"></i>
</div>
