<a [href]="urlDownload"
   [matTooltip]="file.name"
   class="content br06 cursor-pointer of-hidden user-select-none grid place-item-center"
   target="_blank">
  <i *ngIf="!isImage"
     [ngClass]="getIcon"
     class="text-muted fa fa-2x"></i>

  <div class="file-info text-decoration-none">
    <div class="fw-bold overflow-hidden text-overflow-ellipsis whitespace-nowrap text-info file-name">
      {{file.name}}
    </div>
    <small class="text-muted file-size">
      {{getSize}}
    </small>
  </div>
</a>

<div (click)="notifyDelete()"
     *ngIf="isAbleDelete"
     class="absolute top0 right0 br50 none place-item-center text-danger bg-white delete-indicator mat-elevation-z2 cursor-pointer"
     matRipple>
  <i class="fa fa-times"></i>
</div>
