<div class="sidenav">
  <div class="sidenav__brand">
    <i class="fas fa-feather-alt sidenav__brand-icon"></i>
    <a class="sidenav__brand-link" href="#">eTutoring</a>
    <i class="fas fa-times sidenav__brand-close"></i>
  </div>
  <div class="row row--align-v-center row--align-h-center">
    <ul class="navList">
      <span class="navList__heading">documents<i class="far fa-file-alt"></i></span>
      <button class="button navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
        <span class="navList__subheading-title">Dashboard</span>
      </button>
      <button class="button navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
        <span class="navList__subheading-title">Class</span>
      </button>
      <button class="button navList__subheading row row--align-v-center">
        <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
        <span class="navList__subheading-title">Tutor and student</span>
      </button>
    </ul>
  </div>
</div>
