.bg-img {
  background: url("https://vistapointe.net/images/university-of-greenwich-2.jpg") no-repeat center;
  background-size: cover;
}

.login-page {
  width: 100%;
  max-width: 350px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
