<div class="vw-100 h100pct grid place-item-center bg-img">
  <!-- Default form login -->
  <form [formGroup]="loginForm"
        class="text-center border border-light p-4 bg-white br06 login-page">

    <p class="h4 mb-4 mt1">Sign in</p>

    <!-- Email -->
    <input [formControl]="username"
           class="form-control mb-4"
           id="defaultLoginFormEmail"
           placeholder="E-mail"
           type="email">

    <!-- Password -->
    <input [formControl]="password"
           class="form-control mb-4"
           id="defaultLoginFormPassword"
           placeholder="Password"
           type="password">

    <!-- Sign in button -->
    <button (click)="login()"
            [disabled]="loginForm.invalid"
            block="true"
            class="my-4"
            color="info"
            mdbBtn
            type="button">
      Sign in
    </button>

  </form>
</div>
