<div class="vw-100 h100pct grid place-item-center bg-img">
  <!-- Default form login -->
  <form class="text-center border border-light p-4 bg-white br06 login-page">

    <p class="h4 mb-4 mt1">Sign in</p>

    <!-- Email -->
    <input class="form-control mb-4" id="defaultLoginFormEmail" placeholder="E-mail" type="email">

    <!-- Password -->
    <input class="form-control mb-4" id="defaultLoginFormPassword" placeholder="Password" type="password">

    <!-- Sign in button -->
    <button block="true" class="my-4" color="info" mdbBtn type="submit">Sign in</button>

  </form>
</div>
