<div class="card schedule-panel">
  <div class="p05 card-body">
    <h3 style="margin-bottom: 0; font-weight: bold">
      {{schedule.title}}
    </h3>
    <small class="text-muted">
      {{schedule.description}}
    </small>
    <ul class="mt05 schedule-date">
      <li *ngFor="let time of schedule.listDate"
          [class.date-finished]="moment(time).isBefore(moment())"
          class="text-info">
        {{time | date:'dd/MM/yyyy'}}:
        <br>
        <span class="text-muted">
            {{time | date: 'hh:mm:ss'}}
          </span>
      </li>
    </ul>
  </div>
</div>
