<div class="card schedule-panel">
  <div class="p05 card-body">
    <h3 style="margin-bottom: 0; font-weight: bold">
      C# advance
    </h3>
    <small class="text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, vero?
    </small>
    <ul class="mt05 schedule-date">
      <li class="text-info">
        22/12/2020:
        <br>
        <span class="text-muted">
            12:22:32 - 12:22:32
          </span>
      </li>
      <li class="text-info date-finished">
        22/12/2020 :
        <br>
        <span class="text-muted">
            12:22:32 - 12:22:32
          </span>
      </li>
    </ul>
  </div>
</div>
