<div class="custom card text-white bg-primary mb-3"
     style="max-width: 20rem;">
  <div class="card-header">Classrooms</div>
  <div class="card-body">
    <h5 class="card-title">{{classroom.length}}</h5>
  </div>
</div>
<div class="custom card text-white bg-primary mb-3"
     style="max-width: 20rem;">
  <div class="card-header">Files</div>
  <div class="card-body">
    <h5 class="card-title">{{file.length}}</h5>
  </div>
</div>
<div class="custom card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Messages</div>
  <div class="card-body">
    <h5 class="card-title">{{message.length}}</h5>
  </div>
</div>
