<div class="card meeting-panel">
  <div class="p05 card-body">
    <h3 style="margin-bottom: 0; font-weight: bold">
      Review code
    </h3>
    <small class="text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, vero?
    </small>
    <br>
    <small>
      <span class="text-bold">
        Address:
      </span> 1B, FPT Uni
    </small>
    <br>
    <small>
      <span class="text-bold">
        Time:
      </span> 22/04/2012 - 12:42:11
    </small>
    <hr class="mv05">
    <button (click)="editMeeting()"
        class="btn btn-sm btn-block btn-outline-warning tt-capitalize">
      <i class="fa fa-edit mr02"></i>
      Edit
    </button>
  </div>
</div>
