<div class="card meeting-panel">
  <div class="p05 card-body">
    <h3 style="margin-bottom: 0; font-weight: bold">
      {{meeting.title}}
    </h3>
    <small class="text-muted">
      {{meeting.description}}
    </small>
    <br>
    <small>
      <span class="text-bold">
        Address:
      </span> {{meeting.address}}
    </small>
    <br>
    <small>
      <span class="text-bold">
        Time:
      </span> {{meeting.time | date: 'dd/MM/yyyy'}}
    </small>
    <hr class="mv05">
    <button (click)="editMeeting()"
            [disabled]="moment(meeting.time).isBefore(moment())"
            class="btn btn-sm btn-block btn-outline-warning tt-capitalize">
      <i class="fa fa-edit mr02"></i>
      Edit
    </button>
  </div>
</div>
