<div class="mat-elevation-z1">
  <table [dataSource]="dataSource"
         mat-table
         matSort
         multiTemplateDataRows>

    <ng-container *ngFor="let column of configTableColumns"
                  matColumnDef="{{column.inDataField}}">
      <th *matHeaderCellDef
          mat-header-cell
          mat-sort-header>
        {{column.displayAs}}
      </th>
      <td *matCellDef="let classroom"
          mat-cell>
        <app-table-header-cell [classroom]="classroom"
                               [displayField]="column.inDataField"></app-table-header-cell>
      </td>
    </ng-container>
    <!--
    Expanded Content Column
    The detail row is made up of this one column that spans across all columns
    -->
    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let classroom"
          [attr.colspan]="mapFieldToColumn.length"
          mat-cell>
        <app-table-extended-cell (classroomUpdate)="classroomUpdateEvent($event)"
                                 [@detailExpand]="classroom == expandedClassInfo ? 'expanded' : 'collapsed'"
                                 [classroom]="classroom">
        </app-table-extended-cell>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="mapFieldToColumn"
        mat-header-row></tr>
    <tr (click)="toggleClassRow(classroom)"
        *matRowDef="let classroom; columns: mapFieldToColumn;"
        [class.example-expanded-row]="expandedClassInfo === classroom"
        class="user-info-row"
        mat-row>
    </tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']"
        class="user-detail-row" mat-row></tr>
  </table>

  <mat-paginator (page)="switchPage()"
                 [pageSize]="20"></mat-paginator>

</div>
