<label class="ph1 m0 search-form">
  <input class="form-control"
         placeholder="Find resource name..."
         type="text">
</label>

<div class="ph1 grid file-list">
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
  <app-file-icon></app-file-icon>
</div>
