<div *ngIf="fileInput.value" class="p1 flex ofx-auto file-list">
  <app-file-icon (fileIsDelete)="deleteFileUpload()"
                 [fileName]="filePreview?.info.filename"
                 [fileSize]="filePreview?.info.size"
                 [fileType]="filePreview?.info.type"
                 [isAbleDelete]="true"
                 [preview]="filePreview?.base64"></app-file-icon>
</div>

<div class="wrapper-input">
  <div #chatInput
       (keydown.enter)="sendChatMessage()"
       (keyup)="getValue($event)"
       [contentEditable]="true"
       class="br0 p05 bg-transparent chat-input"></div>
  <span (click)="chatInput.focus()"
        *ngIf="contentInput.value?.length === 0"
        class="chat-input-placeholder text-muted">
    start the conversation...
  </span>
</div>

<div (click)="sendChatMessage()"
     class="grid place-item-center br50 p05 cursor-pointer user-select-none enter-btn chat-btn"
     matRipple
     matTooltip="Send message">
  <mat-icon>send</mat-icon>
</div>

<label class="grid place-item-center br50 p05 cursor-pointer user-select-none file-upload chat-btn"
       matRipple
       matTooltip="Send file">
  <input #inputFile
         (change)="fileUpload($event)"
         hidden
         type="file">
  <mat-icon>cloud_upload</mat-icon>
</label>
