<div class="wrapper-input">
  <div #chatInput
       (keydown.enter)="sendChatMessage()"
       (keyup)="getValue($event)"
       [contentEditable]="true"
       class="br0 p05 bg-transparent chat-input"></div>
  <span (click)="chatInput.focus()"
        *ngIf="messageInput.value?.length === 0"
        class="chat-input-placeholder text-muted">
    start the conversation...
  </span>
</div>
<div (click)="sendChatMessage()"
     class="grid place-item-center br50 p05 cursor-pointer user-select-none send-btn"
     matRipple
     matTooltip="Send message">
  <mat-icon>send</mat-icon>
</div>

<div (click)="sendChatMessage()"
     class="grid place-item-center br50 p05 cursor-pointer user-select-none send-btn"
     matRipple
     matTooltip="Send file">
  <mat-icon>cloud_upload</mat-icon>
</div>
