<label class="ph1 m0 search-form">
  <input class="form-control"
         placeholder="Find meeting name..."
         type="text">
</label>

<div class="ph1 flex flex-d-col justify-flex-start meetings-list">
  <button (click)="createNew()"
          [disabled]="classroom.status === CLASSROOM_STATUS.closed"
          class="btn btn-block btn-outline-success tt-capitalize mb02 mt02">
    <i class="fa fa-plus mr02"></i>
    Create
  </button>
  <app-meeting-panel *ngFor="let meeting of (meetings|async)"
                     [meeting]="meeting"></app-meeting-panel>

  <small *ngIf="(meetings|async).length === 0 && !(meetingsLoading|async)"
         class="text-muted ta-center">
    No meeting found
  </small>

  <small *ngIf="meetingsLoading|async"
         class="text-muted ta-center">
    Loading...
  </small>
</div>
