<mat-sidenav-container class="h100vh vw-100">
  <mat-sidenav #sidenav
               [opened]="true"
               class="side-nav-general mat-elevation-z5"
               mode="side">
    <mat-list class="list-nav">
      <div mat-subheader>Navigate</div>
      <a [routerLinkActiveOptions]="{exact: true}"
         class="cursor-pointer side-link"
         mat-list-item
         routerLink="/client/dashboard"
         routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Dashboard</div>
      </a>
      <mat-list-item (click)="logout()"
                     class="cursor-pointer side-link">
        <mat-icon fontIcon="fa-sign-out-alt"
                  fontSet="fas"
                  mat-list-icon>
        </mat-icon>
        <div mat-line>Logout</div>
      </mat-list-item>

      <mat-divider class="mv1"></mat-divider>

      <div mat-subheader>
        <label class="grid align-items-center m0 p0 relative list-header-grid">
          <span class="title">
            Classes
          </span>
          <input class="br04" placeholder="Find classroom" type="text">
          <i class="fa fa-search"></i>
        </label>
      </div>

      <a *ngFor="let classroom of (classrooms | async)"
         [routerLinkActive]="'active'"
         [routerLink]="['/client', 'classroom', classroom._id]"
         class="side-link cursor-pointer"
         mat-list-item>
        <div class="grid br04 place-item-center bg-info text-white mat-elevation-z1 brief-icon">
          {{signatureClassroom(classroom)}}
        </div>
        <div class="flex flex-d-col w100pct overflow-hidden pl05 line">
          <div class="header overflow-hidden whitespace-nowrap text-overflow-ellipsis">
            {{classroom.title}}
          </div>
          <div [matTooltip]="viewUserType === USER_TYPE.tutor ? classroom.student.username : classroom.tutor.username"
               class="sub-header text-muted">
            <ng-container *ngIf="viewUserType === USER_TYPE.tutor">
              Student: {{classroom.student.name}}
            </ng-container>
            <ng-container *ngIf="viewUserType === USER_TYPE.student">
              Tutor: {{classroom.tutor.name}}
            </ng-container>
          </div>
        </div>
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
