<mat-sidenav-container class="h100vh vw-100">
  <mat-sidenav #sidenav
               [opened]="true"
               class="side-nav-general mat-elevation-z5"
               mode="side">
    <mat-list class="list-nav">
      <div mat-subheader>Navigate</div>
      <a [routerLinkActiveOptions]="{exact: true}"
         class="cursor-pointer side-link"
         mat-list-item
         routerLink="/student"
         routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Dashboard</div>
      </a>
      <a [routerLinkActiveOptions]="{exact: true}"
         class="cursor-pointer side-link"
         mat-list-item
         routerLink="/student/settings"
         routerLinkActive="active">
        <mat-icon mat-list-icon>settings</mat-icon>
        <div mat-line>Settings</div>
      </a>

      <mat-divider class="mv1"></mat-divider>

      <div mat-subheader>
        <label class="grid align-items-center m0 p0 relative list-header-grid">
          <span class="title">
            Classes
          </span>
          <input class="br04" placeholder="Find classroom" type="text">
          <i class="fa fa-search"></i>
        </label>
      </div>

      <a [routerLinkActive]="'active'"
         [routerLink]="['/student', 'classroom', '123']"
         class="side-link cursor-pointer"
         mat-list-item>
        <div class="grid br04 place-item-center bg-info text-white mat-elevation-z1 brief-icon">
          SD
        </div>
        <div class="flex flex-d-col w100pct overflow-hidden pl05 line">
          <div class="header overflow-hidden whitespace-nowrap text-overflow-ellipsis">
            Software development
          </div>
          <div class="sub-header text-muted">
            Nam, Son
          </div>
        </div>
      </a>
      <a [routerLinkActive]="'active'"
         [routerLink]="['/student', 'classroom', '456']"
         class="side-link cursor-pointer"
         mat-list-item>
        <div class="grid br04 place-item-center bg-info text-white mat-elevation-z1 brief-icon">
          SD
        </div>
        <div class="flex flex-d-col justify-center w100pct overflow-hidden pl05 line">
          <div class="header overflow-hidden whitespace-nowrap text-overflow-ellipsis">
            Software development
          </div>
          <div class="sub-header text-muted">
            Nam, Son
          </div>
        </div>
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
