:host {
  display: grid;
  grid-template-areas: 'discussion' 'chat';
  grid-template-columns: 1fr;
  grid-template-rows: auto max-content;
  height: calc(100vh - 81px);

  .discussion-section {
    grid-area: discussion;

    app-disscusion-pill.me + app-disscusion-pill.friend,
    app-disscusion-pill.friend + app-disscusion-pill.me {
      margin-top: 0.5rem;
    }
  }

  .chat-section {
    grid-area: chat;
    height: max-content;
  }
}
