<div *ngIf="classroom"
     class="ofy-scroll pv1 flex flex-d-col discussion-section">

  <app-discussion-pill *ngFor="let message of (messages|async)"
                       [class.friend]="me._id !== message.byUser._id"
                       [class.me]="me._id === message.byUser._id"
                       [message]="message">
  </app-discussion-pill>

  <small *ngIf="messagesLoading|async"
         class="ta-center text-muted">
    Loading
  </small>

</div>
<app-class-chat-input *ngIf="classroom"
                      [classroom]="classroom"
                      class="chat-section"></app-class-chat-input>
