<div *ngIf="classroom"
     class="ofy-scroll pv1 flex flex-d-col discussion-section">

  <app-disscusion-pill class="me"></app-disscusion-pill>

  <app-disscusion-pill class="friend"></app-disscusion-pill>

  <app-disscusion-pill class="friend"></app-disscusion-pill>
  <app-disscusion-pill class="me"></app-disscusion-pill>
  <app-disscusion-pill class="me"></app-disscusion-pill>
  <app-disscusion-pill class="me"></app-disscusion-pill>
  <app-disscusion-pill class="friend"></app-disscusion-pill>

</div>
<app-class-chat-input *ngIf="classroom"
                      [classroom]="classroom"
                      class="chat-section"></app-class-chat-input>
