<mat-accordion [hideToggle]="true"
               class="event-list"
               displayMode="default"
               multi="false">

  <mat-expansion-panel class="custom-meta">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Description
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>info</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p class="text-muted p1 pt0 mb-0">
      {{classroom?.description}}
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="custom-meta">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Members
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list class="list-nav">
      <div mat-subheader>Tutor</div>
      <mat-list-item class="cursor-pointer side-link"
                     mat-list-item>
        <img [alt]="classroom?.tutor.name"
             [src]="classroom?.tutor.avatar"
             class="obj-pos-center obj-fit-cover"
             mat-list-icon>
        <div [matTooltip]="classroom?.tutor.username"
             mat-line>
          {{classroom?.tutor.name}}
        </div>
      </mat-list-item>

      <div mat-subheader>Students</div>
      <mat-list-item class="cursor-pointer side-link"
                     mat-list-item>
        <img [alt]="classroom?.student.name"
             [src]="classroom?.student.avatar"
             class="obj-pos-center obj-fit-cover"
             mat-list-icon>
        <div [matTooltip]="classroom?.student.username"
             mat-line>{{classroom?.student.name}}</div>
      </mat-list-item>
    </mat-list>

  </mat-expansion-panel>

  <!--  TODO: do schedule   -->
  <mat-expansion-panel (afterCollapse)="schedulePanelOpen = false"
                       (afterExpand)="schedulePanelOpen = true"
                       class="custom-meta">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Schedule
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-schedule-viewer [classroom]="classroom"></app-schedule-viewer>

  </mat-expansion-panel>

  <!--  TODO: do meetings   -->
  <mat-expansion-panel class="custom-meta">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Meeting
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>insert_invitation</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-meeting-viewer *ngIf="classroom"
                        [classroom]="classroom"></app-meeting-viewer>

  </mat-expansion-panel>

  <mat-expansion-panel class="custom-meta">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Resources
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>attachment</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-resource-meta></app-resource-meta>

  </mat-expansion-panel>


</mat-accordion>


