:host {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 1rem;

  > * {
    margin-bottom: 1rem;
  }
}

.functionalities {
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;

  > * {
    margin-right: 1rem;
  }
}
